<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body">
          <form class="md-float-material" #myForm="ngForm" (ngSubmit)="login(myForm)" novalidate>
            <div class="text-center">
              <img src="assets/images/Online-Campus-Icon.png" alt="logo.png" width="200" style="border-radius:100%;">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign In</h3>
                  <div style="color:blue;">{{ myForm.value | json }}</div>
                </div>
              </div>
              <div class="row m-b-20">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
              </div>
              <p class="text-inverse b-b-default text-left p-b-5">Sign in with your regular account</p>
              <div class="input-group">
                <input type="email" name="email" class="form-control" placeholder="Enter your email please" #email="ngModel" [class.form-control-danger]="email.invalid && email.touched" [pattern]="emailPattern" ngModel required>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" name="password" class="form-control" placeholder="Enter your password please" #password="ngModel" [class.form-control-danger]="password.invalid && password.touched" ngModel required>
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-6 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                  <a href="" class="text-right f-w-600 text-inverse"> Forget Password?</a>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12" [hidden]="!working">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
                </div>
                <div class="col-md-12" [hidden]="working">
                  <spinner [size]="50" [tickness]="5"></spinner>
                </div>
              </div>
              <div class="card-footer">
              <div class="col-sm-12 col-xs-12 text-center">
                  <span class="text-muted">Don't have an account?</span>
                  <a [routerLink]="['/auth/register']" class="f-w-600 p-l-5">Sign up Now</a>
              </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
<a href="/home/accueil" id="home" ></a>
