<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>Accueil</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="#!">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">Accueil</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12 col-xl-4">
          <!-- table card start -->
          <div class="card table-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big br">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-eye-alt text-success"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>10k</h5>
                      <span>Visitors</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-ui-music text-danger"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>100%</h5>
                      <span>Volume</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big br">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-files text-info"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>2000 +</h5>
                      <span>Files</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-envelope-open text-warning"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>120</h5>
                      <span>Mails</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- table card end -->
        </div>
        <div class="col-md-12 col-xl-4">
          <!-- table card start -->
          <div class="card table-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big br">
                  <div class="row">
                    <div class="col-sm-4">
                      <div id="barchart" style="height:40px;width:40px;"></div>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>1000</h5>
                      <span>Shares</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 card-block-big">
                  <div class="row ">
                    <div class="col-sm-4">
                      <i class="icofont icofont-network text-primary"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>600</h5>
                      <span>Network</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big br">
                  <div class="row ">
                    <div class="col-sm-4">
                      <div id="barchart2" style="height:40px;width:40px;"></div>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>350</h5>
                      <span>Returns</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 card-block-big">
                  <div class="row ">
                    <div class="col-sm-4">
                      <i class="icofont icofont-network-tower text-primary"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>100%</h5>
                      <span>Connections</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- table card end -->
        </div>
        <div class="col-md-12 col-xl-4">
          <!-- widget primary card start -->
          <div class="card table-card widget-primary-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-3 card-block-big">
                  <i class="icofont icofont-star"></i>
                </div>
                <div class="col-sm-9">
                  <h4>4000 +</h4>
                  <h6>Ratings Received</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- widget primary card end -->
          <!-- widget-success-card start -->
          <div class="card table-card widget-success-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-3 card-block-big">
                  <i class="icofont icofont-trophy-alt"></i>
                </div>
                <div class="col-sm-9">
                  <h4>17</h4>
                  <h6>Achievements</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- widget-success-card end -->
        </div>
      </div>
      <br><br><br>
      <div class="row">
        <div class="offset-md-3 col-md-6 offset-md-3">
          <div><!-- Your text -->
            <h1 align="center">Oops! Error 404 not found.</h1>

            <p align="center">The page you were looking for doesn't exist.<br>
              We think the page may have moved.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
