<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>Accueil</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="#!">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">Accueil</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12 col-xl-4">
          <!-- table card start -->
          <div class="card table-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big br">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-eye-alt text-success"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>10k</h5>
                      <span>Visitors</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-ui-music text-danger"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>100%</h5>
                      <span>Volume</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big br">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-files text-info"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>2000 +</h5>
                      <span>Files</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-envelope-open text-warning"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>120</h5>
                      <span>Mails</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- table card end -->
        </div>
        <div class="col-md-12 col-xl-4">
          <!-- table card start -->
          <div class="card table-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big br">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-eye-alt text-success"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>10k</h5>
                      <span>Visitors</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-ui-music text-danger"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>100%</h5>
                      <span>Volume</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big br">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-files text-info"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>2000 +</h5>
                      <span>Files</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-envelope-open text-warning"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>120</h5>
                      <span>Mails</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- table card end -->
        </div>
        <div class="col-md-12 col-xl-4">
          <!-- table card start -->
          <div class="card table-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big br">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-eye-alt text-success"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>10k</h5>
                      <span>Visitors</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-ui-music text-danger"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>100%</h5>
                      <span>Volume</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big br">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-files text-info"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>2000 +</h5>
                      <span>Files</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-4">
                      <i class="icofont icofont-envelope-open text-warning"></i>
                    </div>
                    <div class="col-sm-8 text-center">
                      <h5>120</h5>
                      <span>Mails</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- table card end -->
        </div>
      </div>
      <div class="row">
        <!-- SITE VISIT CHART start -->
        <div class="col-md-12 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5>SITE VISIT CHART</h5>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
              <div class="card-header-right">
                <i class="icofont icofont-rounded-down"></i>
                <i class="icofont icofont-refresh"></i>
              </div>
            </div>
            <div class="card-block">
              <div id="morris-site-visit">
                <chart [options]="options"></chart>
              </div>
            </div>
          </div>
        </div>
        <!-- SITE VISIT CHART Ends -->
        <!-- Bar Chart start -->
        <div class="col-md-12 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5>BAR CHART</h5>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
              <div class="card-header-right">
                <i class="icofont icofont-rounded-down"></i>
                <i class="icofont icofont-refresh"></i>
              </div>
            </div>
            <div class="card-block">
              <div id="morris-bar-chart">
                <chart [options]="options2"></chart>
              </div>
            </div>
          </div>
        </div>
        <!-- Bar Chart Ends -->
        <!-- Area Chart start -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h5>Area Chart</h5>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
              <div class="card-header-right">
                <i class="icofont icofont-rounded-down"></i>
                <i class="icofont icofont-refresh"></i>
              </div>
            </div>
            <div class="card-block">
              <div id="area-example">
                <chart [options]="options1"></chart>
              </div>
            </div>
          </div>
        </div>
        <!-- Area Chart Ends -->
        <!-- LINE CHART start -->
        <div class="col-md-12 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5>LINE CHART</h5>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
              <div class="card-header-right">
                <i class="icofont icofont-rounded-down"></i>
                <i class="icofont icofont-refresh"></i>
              </div>
            </div>
            <div class="card-block">
              <div id="line-example">
                <chart [options]="options3"></chart>
              </div>
            </div>
          </div>
        </div>
        <!-- LINE CHART Ends -->
        <!-- Donut chart start -->
        <div class="col-md-12 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5>Donut chart</h5>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
              <div class="card-header-right">
                <i class="icofont icofont-rounded-down"></i>
                <i class="icofont icofont-refresh"></i>
              </div>
            </div>
            <div class="card-block">
              <div id="donut-example">
                <chart [options]="options4"></chart>
              </div>
            </div>
          </div>
        </div>
        <!-- Donut chart Ends -->
      </div>
    </div>
  </div>
</div>
